.*
!.gitignore
system/

htdocs/lib/
htdocs/google/
htdocs/pro/
application/controllers/admin.php
application/config/development/
application/config/testing/
application/config/production/
nbproject/
plan/*
!plan/todo.md
test*

*.css
*.map
*.js
*.xcf

*~*

