@charset "utf-8";
html,
body {
  height: 100%;
  background: #ffffff;
  font-family: 'Avenir', 'Arial', 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: 170px;
}
a {
  color: green;
}
.btn-primary {
  color: #ffffff;
  background-color: #FFB13C;
  border-color: #FFDB90;
}
.btn-primary:hover {
  background-color: #8F6D00;
  border-color: #DD8E17;
}
#navbar {
  background: #FFCD74;
  border-radius: 0 0 5px 5px;
}
#navbar a {
  color: white;
}
#navbar .navbar-right {
  margin-right: 10px;
}
#navbar li > img {
  margin: 7px 0;
  border: 2px solid white;
  border-radius: 10px;
}
input[type=text] {
  border: solid 2px #00EE69;
}
#footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear: both;
  padding-top: 20px;
  background-color: gray;
}
#footer h3 {
  margin-top: 0;
}
#footer a {
  color: white;
}
#footer ul > li {
  margin-left: 5px;
}
.col-img > img {
  width: 100%;
}
.btn-right {
  float: right;
}
.bs-docs-sidenav.affix {
  top: 20px;
  position: fixed;
}
.col-img img {
  width: 100%;
}
.slidebar-div .row {
  overflow: hidden;
  height: 100px;
}
.slidebar-div .row .col-xs-8 {
  position: relative;
  top: 50%;
}
.slidebar-div .row .col-xs-8 > .slider {
  width: 100%;
}
.btn[disabled] {
  background-color: #aaa;
  border-color: #666;
}
.app-box {
  border-right: solid black;
  border-bottom: solid black;
  padding-bottom: 24px;
}
.nensyas > div {
  overflow: auto;
}
.nensyas .nensya {
  line-height: 1em;
  padding: 10px;
  border: solid 1px;
  box-shadow: 0 0 7px inset;
  border-radius: 1em;
  float: left;
}
.nensyas .nensya#result-b {
  font-size: 10px;
}
.btn-box {
  margin: 10px;
}
#twitter-id-box {
  margin-left: 5px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .slidebar-div .row {
    height: 60px;
    width: 100%;
  }
  .slidebar-div .row > .col-xs-2 {
    padding: 0;
  }
  .slidebar-div .row > .col-xs-8 {
    height: 20px;
    padding: 0;
  }
}
