@charset "utf-8"
@import url(http://fonts.googleapis.com/css?family=Caudex);
col_main = #1D247F
col_sub = #3B48FF
col_back = col_main - #444

body, html
  background-color col_back

h1
  font-family 'Caudex', "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Noto Sans Japanese Regular", sans-serif !important
.top-bar
  background-color col_sub

img.eyecatch
  width 100%



