@charset "utf-8"
@import url(https://fonts.googleapis.com/css?family=Caudex);
col_main = #1d247f
col_sub = #2cabcc
col_back = #08181c
col_link = col_sub

body, html
  background-color col_back

h1
  font-family 'Caudex', "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Noto Sans Japanese Regular", sans-serif !important
.top-bar
  background-color col_sub - #444

a
  color col_link

img.eyecatch
  width 100%

li 
  list-style none

.button
  background-color col_sub !important

user-box(i)
  if i < 10
    col = hsl(50 + 20 * i, 100%, 100% - (5 * i)%)
  else if i < 30
    col = hsl(300 + 3 * (i - 10), 60% - (i)%, 50% - (i)%)
  else
    col = hsl(0, 10% - (i / 10)%, 10% - (i / 10)%)
  border-right solid 3px col
  border-bottom solid 3px col
  box-shadow inset (-4 - i * 0.05)px (-4 - i * 0.05)px (0.5 * i)px col
  if i >= 30
    color red

.user
  border 1px solid white
  padding 2px
  .button
    margin-right 10px
  for i in 0..100
    &.level-{i}
      user-box i
  .jump
    margin-top 2px
  p
    .point
      font-size 1.5rem
      font-style italic
      font-weight 800
  .loading
    width 40%
    margin-left 10px


.user-on
  img
    width 80%
  .point
    font-size 4rem
.user
  img
    width 50px

.top-margin
  margin-top 10px !important
.color-ribbon
  height 30px
  width 100%
  background-size 5000% 3000% !important

form
  input[type=submit]
    margin-top 1.3em

.panel.border
  background none
  border solid 1px col_sub
  margin-top 10px

/* media querys */
mobile = s("only screen and (max-width: 320px)")
@media mobile
  h1.user-title
    font-size 21px

