@charset "utf-8"
@import url(http://fonts.googleapis.com/css?family=Caudex);
col_main = #1D247F
col_sub = #3B48FF
col_back = black
col_link = #C0C5FF

body, html
  background-color col_back

h1
  font-family 'Caudex', "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Noto Sans Japanese Regular", sans-serif !important
.top-bar
  background-color #000444

a
  color col_link

img.eyecatch
  width 100%

li 
  list-style none

user-box(i)
  if i < 10
    col = hsl(50 + 20 * i, 100%, 100% - (5 * i)%)
  else if i < 30
    col = hsl(300 + 3 * (i - 10), 60% - (i)%, 50% - (i)%)
  else
    col = hsl(0, 10% - (i / 10)%, 10% - (i / 10)%)
  border-right solid 3px col
  border-bottom solid 3px col
  box-shadow inset (-4 - i * 0.05)px (-4 - i * 0.05)px (0.5 * i)px col
  if i >= 30
    color red

.user
  border 1px solid white
  .button
    margin-right 10px
  for i in 0..100
    &.level-{i}
      user-box i
  ul
    margin-left 10px
    li
      clear both
      overflow hidden
      .point
        font-size 1.5rem
        font-style italic
        font-weight 800
      .loading
        width 40%
        margin-left 10px


.user-on
  img
    width 80%
  .point
    font-size 4rem
  .color
    height 30px
    width 100%
    background-size 1px 1px !important

form
  input[type=submit]
    margin-top 1.3em
