@charset "utf-8";
html {
  background-color: #f0c060;
}
body {
  background-color: #f0c060;
  font-family: 'Lucida Grande', Meiryo, sans-serif !important;
}
.top-div > p,
.top-div h1 {
  color: #333333;
}
.navbar.navbar-default.navbar-fixed-top {
  background: #603030;
  border: #9b0000;
}
.panel {
  border-top: none;
}
.panel .panel-heading {
  border-radius: 0 0 5px 5px;
}
.navbar > .container .navbar-brand {
  color: white;
  margin-bottom: auto;
}
#content-main {
  margin-top: 61px;
  margin-bottom: 0;
}
#rank-discription-div {
  margin: 10px;
}
span#timer-span,
span#timer-m-span {
  font-size: 25px;
  color: #333333;
}
span#timer-span#timer-m-span,
span#timer-m-span#timer-m-span {
  color: #533;
}
#plates {
  background: white;
  overflow: hidden;
}
#content-main {
  margin-top: 80px;
  margin-bottom: 80px;
}
.charbox {
  float: left;
  color: white;
  font-size: 30px;
  margin: 10px;
  padding: 10px;
  height: 70px;
  width: 70px;
  background: red;
  border-radius: 2em;
}
#time_1 {
  background-color: #ff8181;
}
#time_2 {
  background-color: #ffb381;
}
#time_3 {
  background-color: #ffe181;
}
#time_4 {
  background-color: #b3ff81;
}
#time_5 {
  background-color: #81ff81;
}
#time_6 {
  background-color: #81ffb3;
}
#time_7 {
  background-color: #81c8ff;
}
#time_8 {
  background-color: #9f81ff;
}
#pict-main {
  border: dotted gray 2px;
}
img.full {
  width: 100%;
}
img.img-word {
  margin: 10px;
  border: double 5px brown;
}
span.name {
  border-right: dotted 3px gray;
  padding-right: 4em;
}
span.comment {
  padding-left: 1em;
}
code {
  margin: 10px;
}
/* --------------------------------------------------------- *
 *     omilkuji
 * --------------------------------------------------------- */
#button-div {
  padding-bottom: 20px !important;
}
div [id^=result-] > .panel-body > p > span.msec {
  color: gray;
  font-size: 30px;
}
div [id^=result-] > .panel-body > p > span.rank {
  font-size: 50px;
}
